body { font: 12pt "Tahoma", "Arial", sans-serif; }
.announcement {
background-color: white;
color: white;
background-image: url("https://int.search.myway.com/search/AJimage.jhtml?&n=7848bc45&p2=%5E9N%5Exdm247%5ES25665%5Eza&pg=AJimage&pn=1&ptb=65146132-5122-40D7-BEE1-F9686DB1291D&qs=&searchfor=amzind+technological+wallpapers&si=EAIaIQobChMI9PeGr_-L2gIVzxHTCh1jHAQ8EAEYASAAEgKMJfD_BwE&ss=sub&st=tab&tpr=sbt&trs=wtt&imgs=1p&filter=on&imgDetail=true")
}
#announcements {
/* text inside h2 headings */
padding: 0em 1em;
}
#announcements p{
border-bottom: 2px solid black;
font-family: "Courier New";
font-size: 30px;
color: black;

}


#header h1{
color:white;
}

#header li {
padding: 1em;
display: inline;
color: white;

}
#header a{
  color: white;
}
#header{
  border: 1px solid #ffcc99;
  width: 100%;
  background-color:black;
  padding-left: 1em;

}

#Projects{
background-color: white;
line-height: 1em;
width:auto;
}
#Projects ul { padding-left: 2em;
 }


#Projects {
  color: black;
  text-decoration: underline;
  font-family: "Courier New";
  font-weight: lighter;
}
#Projects h2{font-family: "Courier New";
font-size: 20pt;
color: black;
text-decoration-line: underline;
text-decoration-style: double;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: lighter;
}
#Projects li{
  padding: 1em;


}
#Projects a{
  color:black;
}

#main {
height: 100%;
width: 100%;
}
#Contact {
border: 2px solid black;
width: 100%;
background-color :black;
padding-left: 1em;
padding-top: 20px;


}
#Contact ul {
list-style-type: none;
padding-left: 0em;
}
#Contact li {
  padding: 1em;
  color: white;
  display: inline;
  padding-bottom: 10px;
}

#Contact h1{
font-family: "Courier New";
font-size: 25px;
color: white;
}
